{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'style.css' %}" rel="stylesheet">

    <title>AGUTABLE</title>
</head>

<body>

  {% if user.is_authenticated %}

  <a class="nav-item nav-link" href="{% url 'table:logout' %}">ログアウト</a>


  <table border="1">
    <tr>
      <td></td>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th>土</th>
    </tr>

    {% for t in times %}
    <tr>
      <th>{{ t.num }}</th>
      {% for w in weeks %}
        <td>
        {% for classes in tables %}

          {% if classes.userId.id == user.id %}
            {% if classes.classId.weekNum == w.num %}
              {% if classes.classId.timeNum == t.num %}
                <p>{{classes.classId.name}}</p>
                <p>{{classes.classId.place}}</p>
              {% else %}

              {% endif %}
            {% endif %}
          {% endif %}

        {% endfor %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}





  </table>


  {% else %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="{% url 'table:login' %}">
              ようこそ、ゲスト！ログインはこちら
            </a>
            </li>
  {% endif %}





</body>

</html>
